<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias type="webproject.model.system.User" alias="User"/>
<typeAlias type="webproject.model.system.MenuVo" alias="MenuVo"/>
<typeAlias type="webproject.model.system.Role" alias="Role"/>
</typeAliases>

<mappers>
<mapper resource="mapper/user.xml"/>
</mappers>
</configuration>