<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webproject.mapper.BillMapper">
	
	<!--表名 -->
	<sql id="tableName">
		BILL
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CREATETIME,	
		CUSTOM_ID,	
		TYPE,	
		HASPAID_AMOUNT,	
		TOTAL_AMOUNT,	
		STATUS
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CREATETIME},	
		#{CUSTOM_ID},	
		#{TYPE},	
		#{HASPAID_AMOUNT},	
		#{TOTAL_AMOUNT},	
		#{STATUS}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<select id="queryProjectPage" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		
		from 
	
		<include refid="tableName"></include>
	
		where bill_id=1
	</select>
	
	
</mapper>