<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webproject.mapper.CustomMapper">
	
	<!--表名 -->
	<sql id="tableName">
		CUSTOM,HALL,CHINA
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CUSTOM_ID,	
		TEL,	
		china.NAME as HALL_LOCATION ,
		HALL_NAME,			
		CUSTOM.NAME as NAME,	
		BALANCE	
		
	</sql>
	
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CUSTOM_ID},	
		#{TEL},	
		#{NAME},	
		#{POSITION},	
		#{BALANCE}
		
	</sql>
	
	<!-- 新增-->
<!-- 	<insert id="save" parameterType="pd"> -->
<!-- 		insert into  -->
<!-- 	<include refid="tableName"></include> -->
<!-- 		( -->
<!-- 	<include refid="Field"></include> -->
<!-- 		) values ( -->
<!-- 	<include refid="FieldValue"></include> -->
<!-- 		) -->
<!-- 	</insert> -->	
<!-- 	-->
<!-- 	<delete id="delete" parameterType="pd"> -->
<!-- 		delete from -->
<!-- 		<include refid="tableName"></include> -->
<!-- 		where  -->
<!-- 			CUSTOM_ID = #{CUSTOM_ID} -->
<!-- 	</delete> -->	
<!--  修改-->
<!-- 	<update id="edit" parameterType="pd"> -->
<!-- 		update -->
<!-- 		<include refid="tableName"></include> -->
<!-- 		set  -->
<!-- 			CUSTOM_ID = #{CUSTOM_ID}, -->
<!-- 			TEL = #{TEL}, -->
<!-- 			NAME = #{NAME}, -->
<!-- 			POSITION = #{POSITION}, -->
<!-- 			BALANCE = #{BALANCE}, -->
		
<!-- 		where  -->
<!-- 		CUSTOM_ID = #{CUSTOM_ID} -->
<!-- 	</update>	 -->
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="TEL != null and TEL != ''"><!-- 关键词检索 -->
		and 	CUSTOM.TEL=#{TEL}				
		</if>
		and custom.HALL_ID=hall.HALL_ID and hall.HALL_LOCATION=china.ID
	</select>
		
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			CUSTOM_ID = #{CUSTOM_ID}
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		custom
		set 
			CUSTOM_ID = #{CUSTOM_ID},
			TEL = #{TEL},
			NAME = #{NAME},
			HALL_ID=#{HALL_ID},
			BALANCE = #{BALANCE}
		
		where 
		CUSTOM_ID = #{CUSTOM_ID}
	</update>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			CUSTOM_ID = #{CUSTOM_ID}
	</delete>
	
	<!-- 通过TEL获取数据 -->
	<select id="findByTel" parameterType="String" resultType="pd">
		select 
		*
		from 
		custom
		where 
			TEL = #{TEL}
	</select>
	
</mapper>